body {
	background-color:white;
	margin:0px;
}

#loginDiv {

   width:400px;
   height:200px;
   margin-left:300px;
   border:2px solid red;
}

input {
	display:block;
	border:1px solid black;
}

.innerDiv {

}

header {

	background-color:lightblue;
	width:100%;
	height:100px;
}

footer {

	background-color:lightblue;
	width:100%;
	height:100px;
	margin-top:300px;
	border-bottom:0px;
}