<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICarRentalUserService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICarRentalUserService" />
            </netTcpBinding>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_ICarRentalUserService" />
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9090/CarRentalService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICarRentalUserService"
                contract="CarRentalUserServiceProxy.ICarRentalUserService"
                name="NetTcpBinding_ICarRentalUserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8181/CarRentalService/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICarRentalUserService"
                contract="CarRentalUserServiceProxy.ICarRentalUserService"
                name="BasicHttpBinding_ICarRentalUserService" />
            <endpoint address="http://localhost:8181/CarRentalService/ws"
                binding="ws2007HttpBinding" bindingConfiguration="WS2007HttpBinding_ICarRentalUserService"
                contract="CarRentalUserServiceProxy.ICarRentalUserService"
                name="WS2007HttpBinding_ICarRentalUserService">
                <identity>
                    <userPrincipalName value="NEHA-PC\Owner" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>