<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="SchemaLocation" value="C:\Temp\Person.xsd"/>
    <add key="encKey" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXXrespZEEUC5hVZUhmWc6gQAAAACAAAAAAAQZgAAAAEAACAAAACBHvVAQZTjK4GyZS+qWUEuByg8CnLr3/RD0QYZdhLG2QAAAAAOgAAAAAIAACAAAAAjqKctXQRL2+ByDLwMJsuMqijsPH8mgyFyAtl6oB3m6SAAAAB9Qc29MggQJj3AGMRuxv/4h34UPJS2I4+vZLSf2Kcxa0AAAADAnJTSqVP81x/oE0NtEFLvZZVsQkRkPdL6aYY+te9YseP3JKUoEQQ56kzS8lOkgmmd+1GCcwjism3Cc6D1qW74"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <threshold value="Error" />
      <file value="C:\ASPNET\CarRentalMVCAnilRennish\Error\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'.'yyyyMMdd'.log.txt'" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR"/>
        <foreColor value="Red, HighIntensity"/>
      </mapping>
      <mapping>
        <level value="INFO"/>
        <foreColor value="White"/>
      </mapping>
      <mapping>
        <level value="DEBUG"/>
        <foreColor value="Green"/>
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message%newline"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <param name="ApplicationName" value="CarRentals" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="All" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="EventLogAppender" />
    </root>
  </log4net>
</configuration>