<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="encKey" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAXXrespZEEUC5hVZUhmWc6gQAAAACAAAAAAAQZgAAAAEAACAAAACBHvVAQZTjK4GyZS+qWUEuByg8CnLr3/RD0QYZdhLG2QAAAAAOgAAAAAIAACAAAAAjqKctXQRL2+ByDLwMJsuMqijsPH8mgyFyAtl6oB3m6SAAAAB9Qc29MggQJj3AGMRuxv/4h34UPJS2I4+vZLSf2Kcxa0AAAADAnJTSqVP81x/oE0NtEFLvZZVsQkRkPdL6aYY+te9YseP3JKUoEQQ56kzS8lOkgmmd+1GCcwjism3Cc6D1qW74"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>